<div class='background'></div>
<div class='hours-blocks'>
{{#each time.blocks}}
<div class='hour-block' hour='{{ hour }}' now='{{ now }}'>
{{#if now}}
<div class='current-time'>
<div class='label'>{{time.now}}</div>
</div>
{{/if}}
</div>
{{/each}}
</div>
<div class='calendar-header'>
<div class='date'>
<div class='arrow'>
<img src='../images/arrow2.svg'>
</div>
<div class='date-name'>14 дек · Сегодня</div>
<div class='arrow'>
<img src='../images/arrow.svg'>
</div>
</div>
<div class='time' id='qqqq'>
{{#each time.hours}}
<div class='hour' hour_disabled='{{ hour_disabled }}'>{{hour}}</div>
{{/each}}
</div>
</div>
<table class='calendar'>
{{#each floors}}
<tr>
<td>
<div class='calendar-floor'>
<div class='floor-number'>{{number}} ЭТАЖ</div>
</div>
</td>
<td></td>
</tr>
{{#each rooms}}
<tr>
<td>
<div class='calendar-rooms' room='{{ room_id }}' room_disabled='{{ room_disabled }}'>
<div class='room-name'>{{name}}</div>
<div class='room-capacity'>до {{capacity}} человек</div>
</div>
</td>
<td>
<div class='room-availability'>
<div class='minutes-morning'></div>
<div class='minutes-day'>
{{#each availability}}
<div class='minute' meeting='{{ meeting_id }}' occupied='{{ occupied }}' room='{{ room_id }}'></div>
{{/each}}
</div>
<div class='minutes-night'></div>
</div>
</td>
</tr>
{{/each}}
{{/each}}
</table>
<style type='text/sass'>
    body {
        margin: 0; 
    }

    .background {
        position: absolute;
        z-index: -1;
        width: calc(100% - 245px);
        height: calc(100% - 117px);
        left: 245px;
        top: 117px;
        background: #F6F7F9;
        box-shadow: -1px 0 0 0 #E9ECEF;
    }

    .hours-blocks {
        position: absolute; 
        z-index: 10;
        display: flex;
        width: calc(100% - 245px - 31px - 13px);
        height: calc(100% - 117px);
        left: calc(245px + 31px);
        top: 117px;
        pointer-events: none;

        .hour-block {
            width: 100%;
            height: 100%;
            
            &[hour] {
                border-left: 1px solid rgba(19,100,205,0.10);
            }
            
            &[now] {
                border-left: 1px solid #007DFF;
                position: relative;
                height: calc(100% + 12px);
                top: -12px;
            }
            
            &:last-child {
                border-right: 1px solid rgba(19,100,205,0.10);
            }
            
            .current-time {
                position: absolute;
                background: #007DFF;
                border-radius: 100px;
                padding: 3px 10px 4px 10px;
                left: -26px;
                top: calc(-20px);
                
                .label {
                    font-family: HelveticaNeue-Bold;
                    font-size: 11px;
                    color: #FFFFFF;
                    letter-spacing: 0.4px;
                    width: 29px;
                }
            }
        }
    }

    .calendar-header {
        background: #FFFFFF;
        box-shadow: 0 -1px 0 0 #E9ECEF;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 11px 0px 11px 24px;

        .date {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: calc(220px - 24px);
            padding: 0 24px 0 0;

            .arrow {
                background: #E9ECEF;
                border-radius: 100px; 
                padding: 7px;
                
                img {
                    height: 10px;
                    width: 10px;
                    display: block;
                }
            }

            .date-name {
                font-family: HelveticaNeue-Medium;
                font-size: 15px;
                color: #000000;
                letter-spacing: 0;
            }
        }

        .time {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: calc(100% - 220px - (31px - 7px) - (13px - 7px));
            padding: 0 calc(13px - 7px) 0 calc(31px - 7px);

            .hour {
                font-family: HelveticaNeue-Bold;
                font-size: 11px;
                color: #252525;
                letter-spacing: 0.4px;
                width: 14px;
                text-align: center;

                &[hour_disabled] {
                    color: #858E98;
                }
            }
        }
    }

    .calendar {
        padding: 0 0 0 25px;
        width: 100%;
        border-spacing: 0px;
        box-shadow: 0 -1px 0 0 #E9ECEF;

        .calendar-floor {
            padding: 20px 0 0 0;

            .floor-number {
                font-family: HelveticaNeue-Bold;
                font-size: 11px;
                color: #858E98;
                letter-spacing: 0.4px;
            }
        }

        td {
            padding: 0;
        }

        td:first-child {
            width: 220px;
        }

        .calendar-rooms {
            padding: 4px 0;

            .room-name {
                padding: 4px 0 1px 0;
                font-family: HelveticaNeue-Medium;
                font-size: 15px;
                line-height: 17px;
                
                &[room_hover] {
                    color: #0070E0;
                    font-family: HelveticaNeue-Bold;
                }
                
                &[room_clicked] {
                    color: #1D54FE;
                    font-family: HelveticaNeue-Bold;
                }
            }

            .room-capacity {
                padding: 1px 0 4px 0;
                font-family: HelveticaNeue;
                font-size: 13px;
                line-height: 17px;
            }
            
            &[room_disabled] > * {
                color: #858E98 !important;
                
                &.room-name {
                    font-family: HelveticaNeue-Medium !important;
                }
            } 
        }
        
        .room-availability {
            display: flex;
            width: 100% ;
            
            .minutes-day {
                display: flex;
                width: calc(100% - 31px - 13px);
                
                .minute {
                    background: #FFFFFF;
                    width: 100% ;
                    height: 28px;

                    &[occupied] {
                        background: #D5DFE9;
                    }
                    
                    &[meeting_hover] {
                        background: #98A9B9;
                    }
                    
                    &[meeting_clicked] {
                        background: #8494A2;
                    }
                }
            }
            
            .minutes-morning {
                background: #D5DFE9;
                height: 28px;
                width: 31px;
            }

            .minutes-night {
                background: #D5DFE9;
                height: 28px;
                width: 14px;
            }
        }
    }
</style>
