<body>
<ComponentHeader></ComponentHeader>
{{#if page == 'timetable'}}
<ComponentTimetable></ComponentTimetable>
{{elseif page == 'meeting'}}
<ComponentMeeting></ComponentMeeting>
{{/if}}
</body>
<style type='text/sass'>  
    body {
        margin: 0; 
    }
</style>
