%body
    <ComponentHeader></ComponentHeader>
    {{#if page == 'timetable'}}
    <ComponentTimetable></ComponentTimetable>
    {{elseif page == 'meeting'}}
    <ComponentMeeting></ComponentMeeting>
    {{/if}}
  
:plain
    <style type='text/sass'>  
        body {
            margin: 0; 
        }
    </style>