.meeting-new
    .header
        .title Новая встреча
        %button.close
            %img{src: '../images/close.svg'}
    .info
        .section-topic
            .label Тема
            %input.topic-field{placeholder: 'О чём будете говорить?'}
        .section-date
            .date
                .label Дата
                %input.meeting-day
            .time
                .label Начало
                %input.meeting-start{pattern: '\d{2}:\d{2}'}
            .dash —
            .time
                .label Конец
                %input.meeting-start{pattern: '\d{2}:\d{2}'}
        .section-participant
            .label Участники
            %input.participant-field{placeholder: 'Например, Тор Одинович'}
            .people 
                .person
                    %img.avatar{src: '../images/avatar2.jpg'}
                    %span.name Лекс Лютер
                    %img.delete{src: '../images/close.svg'}
                .person
                    %img.avatar{src: '../images/avatar2.jpg'}
                    %span.name Томас Андерсон
                    %img.delete{src: '../images/close.svg'}
                .person
                    %img.avatar{src: '../images/avatar2.jpg'}
                    %span.name Дарт Вейдер
                    %img.delete{src: '../images/close.svg'}
        .section-room
            .label Рекомендованные переговорки
            .room
                %span.time 16:00 - 16:30
                %span.description Готем · 4 этаж
            .room
                %span.time 16:00 - 16:30
                %span.description Поле непаханное · 4 этаж
            .room
                %span.time 16:00 - 16:30
                %span.description Тёмная башня · 4 этаж
                
.footer
    %button.cancel
        .label Отмена
    %button.create-meeting
        .label Создать встречу
   
:plain
    <style type='text/sass'>   
        .meeting-new {
            padding: 31px 204px 8px 204px;
            
            .header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                .title {
                    font-family: HelveticaNeue-Bold;
                    font-size: 20px;
                    color: #000000;
                    letter-spacing: 0; 
                }
                
                .close {
                    background: #E9ECEF;
                    border-radius: 100px; 
                    height: 24px;
                    padding: 7px;
                    border: 0;

                    img {
                        height: 10px;
                        width: 10px;
                        display: block;
                        opacity: 0.43;
                    }

                    &:hover img {
                        opacity: 1;
                    }
                }
            }
            
            .info {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                
                & > * {
                    width: calc((100% - 32px) / 2);
                    margin: 12px 0;
                }
                
                .label {
                    font-family: HelveticaNeue-Bold;
                    font-size: 13px;
                    color: #000000;
                    letter-spacing: 0;
                    margin-bottom: 4px;
                }
                
                input {
                    background: #FFFFFF;
                    border: 2px solid #E9ECEF;
                    border-radius: 4px;
                    padding: 11px 10px 12px;
                    margin-bottom: 4px;
                    width: calc(100% - 10px * 2);
                }
                
                .section-date {
                    display: flex;
                    justify-content: space-between;
                    
                    .date {
                        width: calc((100% - 14px - 12px - 3 * 4px) * 0.64) ;
                        margin-right: 7% ;
                    }
                    
                    .time {
                        width: calc((100% - 14px - 12px - 3 * 4px) * 0.18) ;
                        margin-right: 2% ;
                    }
                    
                    .dash {
                        font-family: HelveticaNeue-Bold;
                        font-size: 13px;
                        color: #000000;
                        letter-spacing: 0.47px;
                        width: 14px;
                        height: 16px;
                        margin-top: 30px;
                        margin-right: 1% ;
                        
                    }
                }
                
                .section-participant {
                    .people {
                        display: flex;
                        flex-wrap: wrap;
                        
                        .person {
                            background: #E9ECEF;
                            border-radius: 16px;
                            display: flex;
                            align-items: center;
                            margin: 8px 8px 0 0;

                            .avatar {
                                height: 24px;
                                width: 24px;
                                border-radius: 12px;
                            }

                            .name {
                                font-family: HelveticaNeue;
                                font-size: 13px;
                                color: #000000;
                                letter-spacing: 0;
                                line-height: 17px;
                                margin: 0 8px;
                                vertical-align: center;
                            }

                            .delete {
                                height: 10px;
                                width: 10px;
                                margin: 0 8px 0 4px;
                                opacity: 0.43;

                                &:hover {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
                
                .section-room {
                    .room {
                        background: #E9ECEF;
                        border-radius: 4px;
                        font-size: 13px;
                        color: #000000;
                        letter-spacing: 0;
                        line-height: 17px;
                        padding: 10px;
                        margin-bottom: 8px;
                        
                        .time {
                            font-family: HelveticaNeue-Bold;
                            margin-right: 16px;
                        }
                        
                        .description {
                            font-family: HelveticaNeue;
                        }
                    }
                }
            }
        }
            
        .footer {
            position: absolute;
            bottom: 0;
            height: 76px;
            width: 100% ;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #FFFFFF;
            box-shadow: 0 -1px 0 0 #E9ECEF;

            button {
                margin: 20px 0;
                border-radius: 4px;
                padding: 10px 16px;
                border: 0;
                margin: 8px;

                &.cancel {
                    background: #E9ECEF;
                    color: #000000;
                }

                &.create-meeting {
                    background: #007DFF;
                    color: #FBF5F5;
                }

                .label {
                    font-family: HelveticaNeue-Medium;
                    font-size: 13px;
                    letter-spacing: 0;
                }
            }
        }
    </style>