.background
.hours-blocks
    {{hour}}
    {{#each time.hours}}
    .hour-block{hour: '{{ hour }}', style: 'width: {{ time.one_hour_width }}%'}
    {{/each}}
    {{#if time.cur_time_margin > 0}}
    .current-time{style: 'margin-left: {{ time.cur_time_margin }}%'}
        .line
        .label 
            .time {{time.cur_time_format}}
    {{/if}}

.calendar-header
    .date
        .arrow
            %img{src: '../images/arrow2.svg'}
        .date-name 14 дек · Сегодня
        .arrow
            %img{src: '../images/arrow.svg'}
    #qqqq.time
        {{#each time.hours}}
        .hour{hour: '{{ hour }}', hour_disabled: '{{ hour_disabled }}'} {{hour}}
        {{/each}}
%table.calendar
    {{#each floors}}
    {{#if rooms}}
    %tr
        %td
            .calendar-floor
                .floor-number {{number}} ЭТАЖ
        %td
        
    {{#each rooms: room}}    
    %tr
        %td
            .calendar-rooms{room_disabled: '{{ room_disabled }}', room: '{{ room_id }}'}
                .room-name {{name}}
                .room-capacity до {{capacity}} человек
        %td
            .room-timeline  
                .morning
                .day
                    {{#each timeline}}
                    .timeline-block{occupied: '{{ occupied }}', meeting: '{{ meeting_id }}', room: '{{ room_id }}', block: '{{ block_id }}', style: 'width: {{ meeting_width }}%'} 
                        {{#if meeting_id == meeting_selected}}
                        <ComponentMeetingPopup  meeting='{{ meeting }}'></ComponentMeetingPopup>
                        {{/if}}
                        {{#if block_id}}
                        %img{src: '../images/add.svg'}
                        {{/if}}
                    {{/each}}
                .night
    {{/each}}
    {{/if}}
    {{/each}}
    



:plain
    <style type='text/sass'>
        body {
            margin: 0; 
        }

        .background {
            position: absolute;
            z-index: -1;
            width: calc(100% - 245px);
            height: calc(100% - 117px);
            left: 245px;
            top: 117px;
            background: #F6F7F9;
            box-shadow: -1px 0 0 0 #E9ECEF;
        }

        .hours-blocks {
            position: absolute; 
            z-index: 10;
            display: flex;
            width: calc(100% - 245px - 31px - 13px);
            height: calc(100% - 117px);
            left: calc(245px + 31px);
            top: 117px;
            pointer-events: none;

            .hour-block {
                height: 100% ;
                border-right: 1px solid rgba(19,100,205,0.10);
                
                &:first-of-type {
                    width: 0 !important;
                }
            }
               
            .current-time {   
                position: absolute;
                z-index: 11;
                height: calc(100% + 12px);
                top: -12px;
                
                .line {
                    border-left: 1px solid #007DFF;
                    height: 100% ;
                }
                
                .label {
                    position: absolute;
                    background: #007DFF;
                    border-radius: 100px;
                    padding: 3px 10px 4px 10px;
                    left: -26px;
                    top: calc(-20px);

                    .time {
                        font-family: HelveticaNeue-Bold;
                        font-size: 11px;
                        color: #FFFFFF;
                        letter-spacing: 0.4px;
                        width: 29px;
                    }
                }
            }
        }

        .calendar-header {
            background: #FFFFFF;
            box-shadow: 0 -1px 0 0 #E9ECEF;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 11px 0px 11px 24px;

            .date {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: calc(220px - 24px);
                padding: 0 24px 0 0;

                .arrow {
                    background: #E9ECEF;
                    border-radius: 100px; 
                    padding: 7px;
                    
                    img {
                        height: 10px;
                        width: 10px;
                        display: block;
                    }
                }

                .date-name {
                    font-family: HelveticaNeue-Medium;
                    font-size: 15px;
                    color: #000000;
                    letter-spacing: 0;
                }
            }

            .time {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: calc(100% - 220px - (31px - 7px) - (13px - 7px));
                padding: 0 calc(13px - 7px) 0 calc(31px - 7px);

                .hour {
                    font-family: HelveticaNeue-Bold;
                    font-size: 11px;
                    color: #252525;
                    letter-spacing: 0.4px;
                    width: 14px;
                    text-align: center;

                    &[hour_disabled] {
                        color: #858E98;
                    }
                }
            }
        }

        .calendar {
            padding: 0 0 0 25px;
            width: 100%;
            border-spacing: 0px;
            box-shadow: 0 -1px 0 0 #E9ECEF;

            .calendar-floor {
                padding: 20px 0 0 0;

                .floor-number {
                    font-family: HelveticaNeue-Bold;
                    font-size: 11px;
                    color: #858E98;
                    letter-spacing: 0.4px;
                }
            }

            td {
                padding: 0;
            }

            td:first-child {
                width: 220px;
            }

            .calendar-rooms {
                padding: 4px 0;

                .room-name {
                    padding: 4px 0 1px 0;
                    font-family: HelveticaNeue-Medium;
                    font-size: 15px;
                    line-height: 17px;
                    
                    &[room_hover] {
                        color: #0070E0;
                        font-family: HelveticaNeue-Bold;
                    }
                    
                    &[room_clicked] {
                        color: #1D54FE;
                        font-family: HelveticaNeue-Bold;
                    }
                }

                .room-capacity {
                    padding: 1px 0 4px 0;
                    font-family: HelveticaNeue;
                    font-size: 13px;
                    line-height: 17px;
                }
                
                &[room_disabled] > * {
                    color: #858E98 !important;
                    
                    &.room-name {
                        font-family: HelveticaNeue-Medium !important;
                    }
                } 
            }
            
            .room-timeline {
                display: flex;
                width: 100% ;
                
                .day {
                    display: flex;
                    width: calc(100% - 31px - 13px);
                    
                    .timeline-block {
                        background: #FFFFFF;
                        height: 28px;
                        position: relative;

                        &[occupied] {
                            background: #D5DFE9;
                        }
                        
                        &[meeting]:hover {
                            background: #98A9B9;
                        }
                        
                        &[meeting][meeting_clicked] {
                            background: #8494A2;
                        }
                        
                        &[block] {
                            border-radius: 2px;
                            
                            &:hover {
                                background: #1D54FE;
                            }

                            &:active {
                                background: #1D00FE;
                            }
                        
                            img {
                                height: 12px;
                                width: 12px;
                                margin: calc((28px - 12px) / 2) calc((100% - 12px) / 2);
                            }
                        }
                    }
                }
                
                .morning {
                    background: #D5DFE9;
                    height: 28px;
                    width: 31px;
                }

                .night {
                    background: #D5DFE9;
                    height: 28px;
                    width: 14px;
                }
            }
        }
    </style>